Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

orion:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

pollux:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/pollux
        binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
        binary_cache_token:
  ...

vega:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

Setup factorio
  flake.lock
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/factorio.nix
  secrets/_/pollux/114c772162a547c16a8d77c738f653be-planets/pollux/lukasl.dev/factorio/server_settings.age
  secrets/planets/pollux/lukasl.dev/factorio/server_settings.age
Due: orion, pollux, vega

Change path
  options/agenix.nix
  options/planet/services/mullvad.nix
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Fix github pat
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Make some packages conditional
  options/planet/default.nix
  options/planet/dev/default.nix
  options/planet/dev/go.nix
  options/planet/dev/java.nix
  options/planet/dev/javascript.nix
  options/planet/dev/lean.nix
  options/planet/dev/manim.nix
  options/planet/dev/python.nix
  options/planet/dev/r.nix
  options/planet/dev/tex.nix
  options/planet/fonts.nix
  options/planet/programming/manim.nix
  options/planet/programming/r.nix
  options/planet/programs/sioyek.nix
  planets/vega/default.nix
Due: orion, pollux, vega

Add hyprland bindings
  options/planet/wm/hyprland.nix
Due: orion, pollux, vega

Fixes for ida
  TODO.md
  options/universe/user.nix
  planets/orion/default.nix
Due: orion, pollux, vega

Setup ida reverse proxy
  dns/dnsconfig.js
  planets/ida/acme.nix
  planets/ida/default.nix
  planets/ida/services/pihole.nix
  planets/ida/traefik.nix
Due: none

Update dns
  dns/dnsconfig.js
  options/universe/ssh/default.nix
  planets/ida/traefik.nix
  planets/pollux/traefik.nix
Due: orion, pollux, vega

Update dns
  planets/pollux/containers/lukasl.dev/default.nix
Due: pollux

Fix acme
  planets/ida/acme.nix
  planets/ida/traefik.nix
  planets/pollux/acme.nix
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/traefik.nix
Due: pollux

Fix acme, again
  planets/ida/acme.nix
  planets/pollux/acme.nix
Due: pollux

Setup pihole on ida
  dns/dnsconfig.js
  planets/ida/default.nix
  planets/ida/services/default.nix
  planets/ida/services/pihole.nix
Due: none

Update pihole
  planets/ida/services/pihole.nix
Due: none

Disable resolved's listener for ida
  planets/ida/services/pihole.nix
Due: none

Include local dns requests
  dns/dnsconfig.js
  planets/ida/services/pihole.nix
Due: none

Open pihole firewall
  planets/ida/services/pihole.nix
Due: none

Update capTUre
  flake.lock
  planets/pollux/services/capTUre.nix
Due: orion, pollux, vega

Enable capTUre
  planets/pollux/services/capTUre.nix
Due: pollux

Add vim surround plugin
  packages/vim/plugins/default.nix
  packages/vim/plugins/surround.nix
Due: orion, pollux, vega

Update tailscale auth key
  secrets/_/ida/510f34ed7ab103f025f973181120ae89-universe/tailscale/auth_key.age
  secrets/_/ida/867d57dae1446f2a5f1cdbd362d6a342-universe/tailscale/auth_key.age
  secrets/_/orion/510f34ed7ab103f025f973181120ae89-universe/tailscale/auth_key.age
  secrets/_/orion/867d57dae1446f2a5f1cdbd362d6a342-universe/tailscale/auth_key.age
  secrets/_/pollux/510f34ed7ab103f025f973181120ae89-universe/tailscale/auth_key.age
  secrets/_/pollux/867d57dae1446f2a5f1cdbd362d6a342-universe/tailscale/auth_key.age
  secrets/_/vega/510f34ed7ab103f025f973181120ae89-universe/tailscale/auth_key.age
  secrets/_/vega/867d57dae1446f2a5f1cdbd362d6a342-universe/tailscale/auth_key.age
  secrets/universe/tailscale/auth_key.age
Due: none

Update opencode
  flake.lock
  flake.nix
Due: orion, pollux, vega

Update hyprland
  flake.lock
  flake.nix
Due: orion, pollux, vega

Move options/*.nix to options/universe
  options/default.nix
  options/universe/agenix.nix
  options/universe/catppuccin.nix
  options/universe/default.nix
  options/universe/home-manager.nix
  options/universe/nix-ld.nix
  options/universe/nix.nix
  options/universe/sops.nix
  options/xdg.nix
Due: orion, pollux, vega

Update opencode
  flake.lock
  options/universe/programs/ast-grep.nix
  options/universe/programs/default.nix
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Fix dark theme
  options/planet/wm/hyprland.nix
Due: orion, pollux, vega

Update system usages
  options/planet/programs/ghostty.nix
  options/planet/wm/gtk.nix
  options/planet/wm/noctalia.nix
Due: orion, pollux, vega

Add wallpaper
  options/planet/wm/gtk.nix
  options/planet/wm/hyprland.nix
  planets/vega/default.nix
  wallpapers/49.png
Due: orion, pollux, vega

Setup kuma on pi
  dns/dnsconfig.js
  planets/ida/services/default.nix
  planets/ida/services/uptime-kuma.nix
Due: none

Setup vikunja
  dns/dnsconfig.js
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/todo.nix
  secrets/_/ida/78e880124e16d9cfe0fd89080e59b1d9-universe/mail/bot.age
  secrets/_/orion/78e880124e16d9cfe0fd89080e59b1d9-universe/mail/bot.age
  secrets/_/pollux/311535199391a30bd63440dd604c6bfe-planets/pollux/lukasl.dev/todo/jwt.age
  secrets/_/pollux/533cb42b075a2d447d4e372ea5ac4ec6-planets/pollux/lukasl.dev/todo/env.age
  secrets/_/pollux/78e880124e16d9cfe0fd89080e59b1d9-universe/mail/bot.age
  secrets/_/vega/78e880124e16d9cfe0fd89080e59b1d9-universe/mail/bot.age
  secrets/planets/pollux/lukasl.dev/todo/env.age
  secrets/planets/pollux/lukasl.dev/todo/jwt.age
  secrets/universe/mail/bot.age
Due: pollux

Add new ghostty binding
  options/planet/programs/ghostty.nix
Due: orion, pollux, vega

Fix vikunja
  planets/pollux/containers/lukasl.dev/todo.nix
Due: pollux

Update vikunja
  planets/pollux/containers/lukasl.dev/todo.nix
Due: pollux

Update capTUre
  planets/pollux/services/capTUre.nix
Due: pollux

Update uxplay
  flake.lock
  options/planet/programs/uxplay.nix
Due: orion, pollux, vega

Setup uptermd
  dns/dnsconfig.js
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/term.nix
  planets/pollux/traefik.nix
Due: pollux

Update term.nix
  planets/pollux/containers/lukasl.dev/term.nix
Due: pollux

Update upterm
  flake.nix
  options/universe/default.nix
  options/universe/upterm.nix
  packages/upterm/default.nix
  planets/pollux/containers/lukasl.dev/term.nix
Due: orion, pollux, vega

Path conditions:
  orion: any of: .woodpecker/orion.yaml, planets/orion/**, options/**, packages/**, flake.nix, flake.lock
  pollux: any of: .woodpecker/pollux.yaml, planets/pollux/**, options/**, packages/**, flake.nix, flake.lock
  vega: any of: .woodpecker/vega.yaml, planets/vega/**, options/**, packages/**, flake.nix, flake.lock
