Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

.woodpecker/orion.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.orion.config.system.build.toplevel

        attic push attic:orion $(nix path-info .#nixosConfigurations.orion.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/orion.yaml"
      - "planets/orion/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/pollux.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/pollux
      binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
      binary_cache_token:
        from_secret: pollux_binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.pollux.config.system.build.toplevel

        attic push attic:pollux $(nix path-info .#nixosConfigurations.pollux.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/pollux.yaml"
      - "planets/pollux/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/vega.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.vega.config.system.build.toplevel

        attic push attic:vega $(nix path-info .#nixosConfigurations.vega.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/vega.yaml"
      - "planets/vega/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

Update settings
  options/galaxy/matrix/whatsapp.nix
Due: orion, pollux, vega

Setup plann
  flake.nix
  options/galaxy/homunculus.nix
  options/planet/programs/default.nix
  options/planet/programs/plann.nix
  overlays/default.nix
  packages/plann/default.nix
Due: orion, pollux, vega

Agenix
  secrets/_/ida/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/_/pollux/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/_/vega/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/galaxy/cal/plann.age
Due: none

Add plann skill
  options/galaxy/homunculus.nix
  options/planet/programs/pi/default.nix
  options/planet/programs/pi/skills/plann/SKILL.md
Due: orion, pollux, vega

add yt-dlp and ffmpeg to homunculus jail
  options/galaxy/homunculus.nix
Due: orion, pollux, vega

Update hermes
  options/galaxy/homunculus.nix
Due: orion, pollux, vega

Setup discord
  options/galaxy/homunculus.nix
  secrets/galaxy/homunculus/discord/token.age
Due: orion, pollux, vega

Regenerate
  options/galaxy/homunculus.nix
  secrets/_/pollux/ab6df3251f5a6a431be0a54a094181ae-galaxy/homunculus/matrixEnvironment.age
  secrets/_/pollux/b05c34f2fd6c391c54247ae17eeeb1bf-galaxy/homunculus/env.age
  secrets/galaxy/homunculus/env.age
  secrets/galaxy/homunculus/matrixEnvironment.age
Due: orion, pollux, vega

Rename
  options/galaxy/homunculus.nix
Due: orion, pollux, vega

Update radicale
  options/galaxy/cal.nix
  options/planet/programs/plann.nix
  secrets/_/ida/08e78e218d615e5e246fcf4433886571-galaxy/cal/plann.age
  secrets/_/ida/56a2674901d82b04759839e210126e6a-galaxy/cal/htpasswd.age
  secrets/_/ida/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/_/ida/c4deede965aa2894f0f2b161c9201f2c-galaxy/cal/htpasswd.age
  secrets/_/pollux/08e78e218d615e5e246fcf4433886571-galaxy/cal/plann.age
  secrets/_/pollux/56a2674901d82b04759839e210126e6a-galaxy/cal/htpasswd.age
  secrets/_/pollux/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/_/pollux/c4deede965aa2894f0f2b161c9201f2c-galaxy/cal/htpasswd.age
  secrets/_/vega/08e78e218d615e5e246fcf4433886571-galaxy/cal/plann.age
  secrets/_/vega/56a2674901d82b04759839e210126e6a-galaxy/cal/htpasswd.age
  secrets/_/vega/b3d07a920092fdbe26f61f968fc6879c-galaxy/cal/plann.age
  secrets/_/vega/c4deede965aa2894f0f2b161c9201f2c-galaxy/cal/htpasswd.age
  secrets/galaxy/cal/accounts/lukas.age
  secrets/galaxy/cal/accounts/mario.age
  secrets/galaxy/cal/htpasswd.age
  secrets/galaxy/cal/plann.age
Due: orion, pollux, vega

Update home
  options/galaxy/home.nix
  options/planet/programs/calendar.nix
  options/planet/programs/default.nix
Due: orion, pollux, vega

Update homunculus
  options/galaxy/default.nix
  options/galaxy/homunculus/SOUL.md
  options/galaxy/homunculus/default.nix
Due: orion, pollux, vega

Reformat
  options/galaxy/homunculus/default.nix
Due: orion, pollux, vega

Add ddgr to homunculus
  options/galaxy/homunculus/default.nix
Due: orion, pollux, vega

Update tuwunel
  flake.lock
  options/galaxy/homunculus/default.nix
Due: orion, pollux, vega

Add forecast_solar and pi_hole HA integrations
  options/galaxy/home.nix
Due: orion, pollux, vega

Update home
  options/galaxy/home.nix
Due: orion, pollux, vega

Update home
  dns/dnsconfig.js
  options/galaxy/default.nix
  options/galaxy/home/default.nix
  options/galaxy/home/entities.jinja
  options/galaxy/peers.nix
Due: orion, pollux, vega

Update netbird
  options/galaxy/peers.nix
Due: orion, pollux, vega

Disable box
  options/galaxy/home/default.nix
  planets/pollux/default.nix
Due: orion, pollux, vega

Update todos
  TODO.md
  planets/pollux/default.nix
Due: pollux

Setup herdr
  flake.lock
  flake.nix
  options/planet/programs/default.nix
  options/planet/programs/herdr.nix
  options/planet/users.nix
  universe.nix
Due: orion, pollux, vega

Delete modules dir
  modules/default.nix
  modules/programs/default.nix
  modules/programs/git.nix
  modules/travellers.nix
Due: none

Remove var
  flake.nix
Due: orion, pollux, vega

Port
  .gitignore
  planets/age.nix
  planets/containers.nix
  planets/default.nix
  planets/desktop.nix
  planets/dns.nix
  planets/firewall.nix
  planets/fonts.nix
  planets/ida/default.nix
  planets/ida/hardware-configuration.nix
  planets/keys.nix
  planets/nix.nix
  planets/pollux/default.nix
  planets/pollux/hardware-configuration.nix
  planets/sound.nix
  planets/ssh.nix
  planets/sudo.nix
  planets/vega/default.nix
  planets/vega/hardware-configuration.nix
  travellers/keys.nix
  travellers/ssh.nix
Due: pollux, vega

Move options to ./modules
  atlas/planets.nix
  atlas/travellers.nix
  modules/planet/age.nix
  modules/planet/containers.nix
  modules/planet/default.nix
  modules/planet/desktop.nix
  modules/planet/dns.nix
  modules/planet/firewall.nix
  modules/planet/fonts.nix
  modules/planet/hjem.nix
  modules/planet/keys.nix
  modules/planet/nix.nix
  modules/planet/sound.nix
  modules/planet/ssh.nix
  modules/planet/sudo.nix
  modules/planet/time.nix
  modules/planet/travellers.nix
  modules/traveller/default.nix
  modules/traveller/git.nix
  modules/traveller/keys.nix
  modules/traveller/ssh.nix
  modules/traveller/user.nix
  planets/containers.nix
  planets/dns.nix
  planets/firewall.nix
  travellers/ssh.nix
Due: none

Port
  modules/planet/default.nix
  modules/planet/desktop.nix
  modules/planet/desktop/default.nix
  modules/planet/desktop/fonts.nix
  modules/planet/gaming/default.nix
  modules/planet/gaming/gamemode.nix
  modules/planet/gaming/gamescope.nix
  modules/planet/gaming/minecraft.nix
  modules/planet/gaming/proton.nix
  modules/planet/gaming/r2modman.nix
  modules/planet/gaming/steam.nix
  modules/planet/gaming/wine.nix
  modules/planet/hardware/bluetooth.nix
  modules/planet/hardware/default.nix
  modules/planet/hardware/nvidia.nix
  modules/planet/networking/default.nix
  modules/planet/networking/dns.nix
  modules/planet/nix.nix
  modules/planet/programs/appimage.nix
  modules/planet/programs/default.nix
  modules/planet/services/default.nix
  modules/planet/services/flatpak.nix
  modules/planet/services/printing.nix
  modules/planet/services/ssh.nix
  modules/planet/virtualisation/containers.nix
  modules/planet/virtualisation/default.nix
  planets/vega/default.nix
Due: vega

Port
  modules/planet/hardware/default.nix
  modules/planet/hardware/graphics.nix
  modules/planet/hardware/nvidia.nix
  modules/planet/hardware/vulkan.nix
  planets/vega/default.nix
Due: vega

Port
  atlas/travellers.nix
  modules/planet/catppuccin.nix
  modules/planet/default.nix
  modules/planet/programs/bat.nix
  modules/planet/programs/default.nix
Due: none

Port
  README.md
  flake.lock
  flake.nix
  modules/planet/programs/btop.nix
  modules/planet/programs/default.nix
  modules/planet/programs/eza.nix
  modules/planet/programs/herdr.nix
  modules/planet/programs/zoxide.nix
Due: orion, pollux, vega

Add planet-keygen
  flake.lock
  flake.nix
  modules/planet/age.nix
  modules/planet/desktop/default.nix
  modules/planet/keys.nix
  modules/planet/nix.nix
  modules/planet/programs/default.nix
  modules/planet/programs/direnv.nix
  modules/planet/programs/hyperfine.nix
  modules/planet/programs/imagemagick.nix
  modules/planet/programs/perf.nix
  modules/planet/programs/yazi.nix
  modules/planet/programs/zip.nix
  modules/traveller/keys.nix
  modules/traveller/user.nix
  planets/vega/default.nix
  scripts/planet-keygen.nix
  secrets/_/vega/2614a488503213509f6444f61fbe13c8-universe/travellers/prime/keys/private.age
  secrets/_/vega/7748a41d544a49a22fa1af36333a2634-universe/travellers/prime/user/password.age
  secrets/_/vega/d4c0f4808514284926f8d41e5d765e73-planets/vega/keys/private.age
  secrets/planets/ida/keys/private.age
  secrets/planets/pollux/keys/private.age
  secrets/planets/vega/keys/private.age
  secrets/planets/vega/keys/public.pub
  secrets/universe/travellers/prime/user/password.age
Due: orion, pollux, vega

Make keygen generic
  flake.nix
  scripts/keygen.nix
  scripts/planet-keygen.nix
  scripts/traveller-keygen.nix
Due: orion, pollux, vega

Port
  modules/planet/desktop/default.nix
  modules/planet/desktop/xdg.nix
  modules/planet/programs/default.nix
  modules/planet/programs/helium/default.nix
  modules/planet/programs/helium/package.nix
  modules/planet/programs/helium/version.json
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/fastfetch.nix
  modules/planet/programs/ffmpeg.nix
  modules/planet/programs/mpv.nix
  modules/planet/programs/poppler-utils.nix
  modules/planet/programs/speedtest.nix
  modules/planet/programs/uxplay.nix
  modules/planet/programs/yt-dlp.nix
  packages/pi/AGENTS.md
  packages/pi/default.nix
  planets/vega/default.nix
Due: orion, pollux, vega

Port
  modules/planet/desktop/xdg.nix
  modules/planet/programs/default.nix
  modules/planet/programs/sioyek.nix
Due: none

Port
  modules/planet/programs/gpg.nix
Due: none

Port
  flake.lock
  modules/planet/programs/default.nix
  modules/traveller/git.nix
Due: orion, pollux, vega

Port
  modules/planet/programs/default.nix
  modules/planet/programs/fzf.nix
  modules/traveller/git.nix
Due: none
