Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

.woodpecker/orion.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.orion.config.system.build.toplevel

        attic push attic:orion $(nix path-info .#nixosConfigurations.orion.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/orion.yaml"
      - "planets/orion/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/pollux.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/pollux
      binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
      binary_cache_token:
        from_secret: pollux_binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.pollux.config.system.build.toplevel

        attic push attic:pollux $(nix path-info .#nixosConfigurations.pollux.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/pollux.yaml"
      - "planets/pollux/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/vega.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.vega.config.system.build.toplevel

        attic push attic:vega $(nix path-info .#nixosConfigurations.vega.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/vega.yaml"
      - "planets/vega/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

Port
  modules/planet/programs/default.nix
  modules/planet/programs/thunderbird.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/ripgrep.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/fzf.nix
  modules/planet/programs/localsend.nix
  modules/planet/programs/obsidian.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/seahorse.nix
Due: none

Port
  modules/planet/programs/calendar.nix
  modules/planet/programs/default.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/element.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/tmux.nix
Due: none

Port
  modules/traveller/default.nix
  modules/traveller/jujutsu.nix
Due: none

Port
  modules/traveller/jujutsu.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/nh.nix
  modules/planet/programs/tmux.nix
Due: none

feat(home-assistant): add Tuya integration component
  options/galaxy/home/default.nix
Due: orion, pollux, vega

Switch default model from deepseek-v4-flash to deepseek-v4-pro
  options/galaxy/homunculus/default.nix
Due: orion, pollux, vega

Fix
  options/galaxy/proxy.nix
Due: orion, pollux, vega

Port
  modules/planet/programs/default.nix
  modules/planet/programs/python.nix
Due: none

Port
  modules/planet/default.nix
  modules/planet/hosting/acme.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/proxy.nix
  planets/vega/default.nix
  secrets/universe/acme/cf_api_key.age
  secrets/universe/acme/cf_email.age
  secrets/universe/acme/env.age
Due: vega

Port
  flake.nix
  modules/planet/networking/default.nix
  modules/planet/sudo.nix
  modules/planet/virtualisation/containers.nix
  planets/ida/default.nix
  planets/mizar/default.nix
  planets/pollux/default.nix
  planets/vega/default.nix
Due: orion, pollux, vega

Port
  planets/altair/.gitkeep
  planets/antares/.gitkeep
  planets/deneb/.gitkeep
Due: none

Remove woodpecker and sops
  .sops.yaml
  .woodpecker/flake.yaml
  .woodpecker/mirror.yaml
Due: none

Port
  atlas/default.nix
  atlas/planets.nix
  flake.lock
  flake.nix
  modules/planet/desktop/default.nix
  modules/planet/desktop/gtk.nix
  modules/planet/desktop/hyprland/default.nix
  modules/planet/desktop/hyprland/monitors.nix
  modules/planet/desktop/hyprland/polkit.nix
  modules/planet/desktop/qt.nix
  modules/traveller/default.nix
  modules/traveller/desktop/default.nix
  modules/traveller/desktop/hyprland/default.nix
  overlays/default.nix
  planets/vega/default.nix
Due: orion, pollux, vega

Port
  modules/planet/desktop/hyprland/autostart.nix
  modules/planet/desktop/hyprland/config.nix
  modules/planet/desktop/hyprland/default.nix
  modules/planet/desktop/hyprland/polkit.nix
  modules/traveller/desktop/hyprland/autostart.nix
  modules/traveller/desktop/hyprland/config.nix
  modules/traveller/desktop/hyprland/default.nix
Due: none

Port
  travellers/prime/default.nix
  travellers/prime/desktop/default.nix
  travellers/prime/desktop/hyprland/bind.nix
  travellers/prime/desktop/hyprland/default.nix
Due: none

Port
  modules/planet/desktop/hyprland/default.nix
  modules/planet/desktop/hyprland/mesa.nix
Due: none

Port
  modules/planet/desktop/hyprland/cursor.nix
  modules/planet/desktop/hyprland/default.nix
Due: none

Port
  modules/planet/desktop/hyprland/cursor.nix
  modules/planet/desktop/hyprland/dank.nix
  modules/planet/desktop/hyprland/default.nix
  travellers/prime/desktop/hyprland/animations.nix
  travellers/prime/desktop/hyprland/bind.nix
Due: none

Update hass token
  secrets/_/pollux/101ea335c34b95b0964cf12817bef2af-galaxy/homunculus/env.age
  secrets/_/pollux/b05c34f2fd6c391c54247ae17eeeb1bf-galaxy/homunculus/env.age
  secrets/galaxy/hass/token.age
  secrets/galaxy/homunculus/env.age
Due: none

Port
  modules/planet/desktop/hyprland/default.nix
  modules/planet/desktop/hyprland/uwsm.nix
  travellers/prime/desktop/hyprland/default.nix
Due: none

Migrate pi
  flake.lock
  flake.nix
  options/planet/programs/lightpanda.nix
  planets/ida/boot.nix
  planets/ida/default.nix
  planets/ida/rpi.nix
  planets/ida/sd-image.nix
Due: orion, pollux, vega

Port shell
  modules/planet/default.nix
  modules/planet/shell.nix
  modules/traveller/default.nix
  modules/traveller/shell.nix
Due: none

Port
  dns/dnsconfig.js
  dns/types-dnscontrol.d.ts
  modules/planet/desktop/default.nix
  modules/planet/desktop/hyprland/autostart.nix
  modules/planet/desktop/hyprland/cursor.nix
  modules/planet/networking/default.nix
  modules/planet/networking/mullvad.nix
Due: none

Port
  atlas/default.nix
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/waka.nix
  modules/traveller/default.nix
  modules/traveller/programs/default.nix
  modules/traveller/programs/waka.nix
  secrets/_/vega/fee9f404689a64c752a116330e4d85f7-travellers/prime/waka/config.age
  secrets/travellers/prime/waka/apiKey.age
  secrets/travellers/prime/waka/config.age
  travellers/prime/default.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/discord.nix
Due: none

Update README.md
  README.md
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/handy.nix
  travellers/prime/desktop/hyprland/bind.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/ghostty.nix
  travellers/prime/desktop/hyprland/bind.nix
Due: none

Port
  modules/planet/programs/default.nix
  modules/planet/programs/oh-my-posh/default.nix
  modules/planet/programs/oh-my-posh/settings.json
Due: none

Port
  modules/planet/attic.nix
  modules/planet/default.nix
  secrets/_/vega/39ef88631adfa153ddb7cbd113fdfd1b-universe/attic/netrc.age
  secrets/universe/attic/netrc.age
  secrets/universe/attic/token.age
Due: none

Port
  atlas/hosting.nix
  modules/planet/cache.nix
  modules/planet/default.nix
Due: none

Port
  modules/planet/gaming/default.nix
  modules/planet/hardware/nvidia.nix
  modules/planet/shell.nix
  travellers/prime/shell.nix
Due: none

Port
  modules/planet/gaming/default.nix
  packages/pi/default.nix
  packages/pi/skills/github/SKILL.md
  packages/pi/skills/obsidian/SKILL.md
  packages/pi/skills/tikzjax/SKILL.md
  packages/pi/skills/zig/SKILL.md
Due: orion, pollux, vega
