Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

.woodpecker/orion.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.orion.config.system.build.toplevel

        attic push attic:orion $(nix path-info .#nixosConfigurations.orion.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/orion.yaml"
      - "planets/orion/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/pollux.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/pollux
      binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
      binary_cache_token:
        from_secret: pollux_binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.pollux.config.system.build.toplevel

        attic push attic:pollux $(nix path-info .#nixosConfigurations.pollux.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/pollux.yaml"
      - "planets/pollux/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/vega.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.vega.config.system.build.toplevel

        attic push attic:vega $(nix path-info .#nixosConfigurations.vega.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/vega.yaml"
      - "planets/vega/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

Setup hole.nix
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/hole.nix
Due: orion, pollux, vega

Port status
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/status.nix
Due: orion, pollux, vega

Update workflow
  .forgejo/workflows/pollux.yml
Due: none

Remove forgejo action
  .forgejo/.gitkeep
  .forgejo/workflows/pollux.yml
Due: none

Update forge
  options/galaxy/lukasl-dev/forge.nix
Due: orion, pollux, vega

Switch to dms
  flake.lock
  flake.nix
  options/planet/audio.nix
  options/planet/display/hyprland/bind.nix
  options/planet/display/hyprland/dank.nix
  options/planet/display/hyprland/default.nix
  options/planet/display/hyprland/noctalia.nix
  options/planet/programs/discord.nix
  options/planet/programs/helium.nix
Due: orion, pollux, vega

Jailed helium
  options/planet/programs/helium.nix
Due: orion, pollux, vega

More jailing
  flake.nix
  options/planet/programs/bitwarden.nix
  options/planet/programs/discord.nix
  options/planet/programs/element.nix
  options/planet/programs/helium.nix
  options/planet/programs/obsidian.nix
  packages/helium/default.nix
Due: orion, pollux, vega

Update nvf
  flake.lock
  flake.nix
  overlays/nur.nix
  overlays/unstable.nix
  packages/vim/default.nix
  packages/vim/languages/default.nix
  packages/vim/languages/java.nix
  packages/vim/languages/python.nix
  packages/vim/languages/typescript.nix
  planets/pollux/README.md
Due: orion, pollux, vega

Add mirror workflow
  .forgejo/workflows/mirror.yml
Due: none

Update workflow
  .forgejo/workflows/mirror.yml
Due: none

Move overlays
  flake.nix
  options/planet/nix.nix
  overlays/default.nix
  overlays/nur.nix
  overlays/unstable.nix
Due: orion, pollux, vega

Add fridge.nix
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/fridge.nix
Due: orion, pollux, vega

Add workflow
  .forgejo/workflows/dns.yml
  dns/dnsconfig.js
  options/galaxy/lukasl-dev/forge.nix
Due: orion, pollux, vega

Update workflow
  .forgejo/workflows/dns.yml
Due: none

Update pi
  flake.lock
  options/planet/programs/bitwarden.nix
  options/planet/programs/element.nix
  options/planet/programs/obsidian.nix
Due: orion, pollux, vega

Enable
  planets/pollux/default.nix
Due: pollux

Rename
  dns/dnsconfig.js
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/household.nix
  planets/pollux/default.nix
Due: orion, pollux, vega

Fix obsidian jail
  options/planet/programs/obsidian.nix
  options/planet/programs/pi/default.nix
Due: orion, pollux, vega

Simplify obsidian jail
  options/planet/programs/obsidian.nix
Due: orion, pollux, vega

Update pi
  flake.lock
Due: orion, pollux, vega

Fix hyprland screensharing on nvidia
  options/planet/display/hyprland/default.nix
  options/planet/programs/discord.nix
  options/planet/programs/ghostty.nix
Due: orion, pollux, vega

Something
  flake.lock
  options/planet/programs/obsidian.nix
  options/planet/programs/pi/default.nix
  options/planet/programs/pi/extensions/opencode-free.ts
  packages/helium/default.nix
  packages/scripts/planet_update_helium.nix
Due: orion, pollux, vega

Introduce galaxy modes
  options/galaxy/lukasl-dev/anki.nix
  options/galaxy/lukasl-dev/backup.nix
  options/galaxy/lukasl-dev/books.nix
  options/galaxy/lukasl-dev/box.nix
  options/galaxy/lukasl-dev/cal.nix
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/factorio.nix
  options/galaxy/lukasl-dev/forge.nix
  options/galaxy/lukasl-dev/hole.nix
  options/galaxy/lukasl-dev/household.nix
  options/galaxy/lukasl-dev/mail.nix
  options/galaxy/lukasl-dev/matrix/default.nix
  options/galaxy/lukasl-dev/notes.nix
  options/galaxy/lukasl-dev/proxy.nix
  options/galaxy/lukasl-dev/status.nix
  options/galaxy/lukasl-dev/vault.nix
  options/galaxy/lukasl-dev/waka.nix
  options/galaxy/lukasl-dev/www.nix
  options/galaxy/lukasl-dev/yam.nix
Due: orion, pollux, vega

Forward ssh rather than proxying it
  options/galaxy/lukasl-dev/forge.nix
Due: orion, pollux, vega

Bring back ida
  flake.nix
  justfile
  options/galaxy/lukasl-dev/backup.nix
  options/galaxy/lukasl-dev/cal.nix
  planets/ida/boot.nix
  planets/ida/default.nix
  planets/ida/hardware-configuration.nix
  planets/ida/networking.nix
  planets/ida/sd-image.nix
  secrets/_/ida/016bd737d4664432e66762f8f9cf58f6-universe/user/password.age
  secrets/_/ida/1607dcfab6fb3b58fc6ab57ef7729da5-universe/ssh/default/privateKey.age
  secrets/_/ida/18799a57d23ed91c68d47dd41772426b-universe/anki/username.age
  secrets/_/ida/1eace3491928961c8df817b9d438513b-galaxy/lukasl-dev/vault/env.age
  secrets/_/ida/263445a666830fd1028665460ac08065-galaxy/lukasl-dev/matrix/turnSecret.age
  secrets/_/ida/2ad9f605cf705c8509706613a2b96ea6-galaxy/lukasl-dev/waka/salt.age
  secrets/_/ida/2afce7d7efb71aa6384a480978b3343d-universe/attic/token.age
  secrets/_/ida/3a2391862c802cdf34091bf0d09abdd6-galaxy/lukasl-dev/backup/env.age
  secrets/_/ida/4cdf561031716638208c5fe06c018d2a-galaxy/lukasl-dev/acme/env.age
  secrets/_/ida/51fb0c9fd2accd78e8e3d3fc0e49487d-galaxy/lukasl-dev/anki/password.age
  secrets/_/ida/567a8c587cbc02ba05c948e85fb818ca-galaxy/lukasl-dev/cache/env.age
  secrets/_/ida/5f8113a56e5ab71d8d6170449d55ab47-planets/ida/wireless/secrets.conf.age
  secrets/_/ida/5fcfd68944a5309a93e8062a15a07dcb-galaxy/lukasl-dev/mail/accounts/bot.age
  secrets/_/ida/630a1dca3547ed19a96ed79e00e57189-galaxy/lukasl-dev/backup/htpasswd.age
  secrets/_/ida/83395894aa6d2e17d30d84a41c349e07-galaxy/lukasl-dev/matrix/registrationToken.age
  secrets/_/ida/846a1ba8d9ba984a107b384a7e94724c-universe/exa/apiKey.age
  secrets/_/ida/91a19d9d2a5f74d848df43e066ea1bc3-galaxy/lukasl-dev/mail/rspamd/workerController.age
  secrets/_/ida/9248c462be16da8dcaf990f4abf78a2a-galaxy/lukasl-dev/factorio/serverSettings.age
  secrets/_/ida/9fbe80f877adf00923589abf0931525e-galaxy/lukasl-dev/backup/password.age
  secrets/_/ida/a1eaf4353c3aeb172ef167c3c9223a18-universe/opencode/apiKey.age
  secrets/_/ida/b1b266b58e7c6e704ad1480ff8849f76-universe/ssh/g0.complang.tuwien.ac.at/privateKey.age
  secrets/_/ida/b26d9fcf80e23015e4d65986eb81e17d-universe/tailscale/authKey.age
  secrets/_/ida/ba74c6d8d2859b8753ba0c3f17b8ea54-universe/anki/key.age
  secrets/_/ida/c4deede965aa2894f0f2b161c9201f2c-galaxy/lukasl-dev/cal/htpasswd.age
  secrets/_/ida/c9ecd99bdb75373d6198746c75d0f4ff-galaxy/lukasl-dev/mail/accounts/komputah.age
  secrets/_/ida/d2b2a127188d441c719ff06d1781382f-galaxy/lukasl-dev/yam/env.age
  secrets/_/ida/dae50d2201f68d795f75020293bc8ecd-planets/ida/wireless/password.age
  secrets/_/ida/dde748c35e4b5329b12f5bf22b459ab7-galaxy/lukasl-dev/vault/rsaKey.age
  secrets/_/ida/e2b822edef734b0544c9cf2365e875bc-galaxy/lukasl-dev/mail/accounts/me.age
  secrets/planets/ida/wireless/password.age
  secrets/planets/ida/wireless/secrets.conf.age
Due: orion, pollux, vega

Fix host vs. guest modes
  options/galaxy/lukasl-dev/anki.nix
  options/galaxy/lukasl-dev/backup.nix
  options/galaxy/lukasl-dev/books.nix
  options/galaxy/lukasl-dev/box.nix
  options/galaxy/lukasl-dev/cal.nix
  options/galaxy/lukasl-dev/default.nix
  options/galaxy/lukasl-dev/factorio.nix
  options/galaxy/lukasl-dev/forge.nix
  options/galaxy/lukasl-dev/hole.nix
  options/galaxy/lukasl-dev/household.nix
  options/galaxy/lukasl-dev/matrix/default.nix
  options/galaxy/lukasl-dev/notes.nix
  options/galaxy/lukasl-dev/status.nix
  options/galaxy/lukasl-dev/vault.nix
  options/galaxy/lukasl-dev/waka.nix
  options/galaxy/lukasl-dev/www.nix
  options/galaxy/lukasl-dev/yam.nix
Due: orion, pollux, vega

Update ida
  planets/ida/default.nix
Due: none

Add mount config for ida
  planets/ida/default.nix
  planets/ida/storage.nix
Due: none

Add nixos-anywhere to devshell
  flake.lock
  flake.nix
  planets/ida/default.nix
  planets/vega/default.nix
Due: orion, pollux, vega

Update vega
  planets/vega/default.nix
  planets/vega/hardware-configuration.nix
Due: vega

Setup gh-dash as ext
  flake.lock
  options/planet/programs/default.nix
  options/planet/programs/gh-dash.nix
  options/planet/programs/gh.nix
Due: orion, pollux, vega

Update pi
  flake.lock
  flake.nix
Due: orion, pollux, vega

Migrate sddm -> dank
  options/planet/display/default.nix
  options/planet/display/hyprland/cursors.nix
  options/planet/display/hyprland/dank.nix
  options/planet/display/hyprland/default.nix
  options/planet/display/sddm.nix
Due: orion, pollux, vega

Fix cursor pointer
  options/planet/display/hyprland/cursors.nix
  options/planet/display/hyprland/dank.nix
Due: orion, pollux, vega

Exclude nix-daemon from mullvad
  options/planet/networking/mullvad.nix
  options/planet/networking/tailscale.nix
Due: orion, pollux, vega

Update dank keybindings
  options/planet/display/hyprland/dank.nix
Due: orion, pollux, vega
