Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

orion:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

pollux:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/pollux
        binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
        binary_cache_token:
  ...

vega:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

Port
  flake.nix
  modules/traveller/programs/default.nix
  modules/traveller/programs/pi.nix
  packages/pi/catppuccin-mocha.json
  packages/pi/default.nix
  secrets/_/vega/adcb7edaa7c91f216f571b01f572641e-universe/pi/opencode/apiKey.age
  secrets/_/vega/d15e477e1a03944dd582df17ff993ed7-universe/pi/exa/apiKey.age
  secrets/universe/pi/exa/apiKey.age
  secrets/universe/pi/opencode/apiKey.age
  travellers/prime/default.nix
Due: orion, pollux, vega

Fix
  modules/planet/desktop/hyprland/config.nix
  modules/planet/programs/ghostty.nix
  travellers/prime/desktop/hyprland/animations.nix
Due: none

Fix
  modules/planet/age.nix
  modules/planet/travellers.nix
  modules/traveller/keys.nix
  modules/traveller/ssh.nix
  scripts/traveller-keygen.nix
  secrets/_/vega/2614a488503213509f6444f61fbe13c8-travellers/prime/keys/private.age
  secrets/travellers/homunculus/keys/private.age
  secrets/travellers/homunculus/keys/public.pub
  secrets/travellers/prime/keys/private.age
  secrets/travellers/prime/keys/public.pub
  travellers/homunculus/default.nix
  travellers/prime/default.nix
  travellers/prime/desktop/hyprland/bind.nix
Due: none

Fix
  modules/planet/cache.nix
  modules/traveller/ssh.nix
Due: none

Setup
  flake.nix
  planets/mizar/boot.nix
  planets/mizar/default.nix
  planets/mizar/hardware-configuration.nix
  secrets/_/mizar/268a7878a88c042ad154bb56ca55f6c2-planets/mizar/keys/private.age
  secrets/_/mizar/36fec858453c3e4d9607a5ac063ecdec-universe/pi/opencode/apiKey.age
  secrets/_/mizar/5a761375fd7b809c4bd3f1993db2484c-travellers/prime/keys/private.age
  secrets/_/mizar/bfa7681ab2479769ab13bd345ac79c4a-travellers/prime/waka/config.age
  secrets/_/mizar/d006b1f834eb134162458e9b0341dfe1-universe/attic/netrc.age
  secrets/_/mizar/edc72fe39b5b54e03547e692b7e969de-universe/pi/exa/apiKey.age
  secrets/_/mizar/fbcab3b2f2c1dc3dcd548fe26bc58dcf-universe/travellers/prime/user/password.age
  secrets/planets/mizar/keys/private.age
  secrets/planets/mizar/keys/public.pub
Due: orion, pollux, vega

Port
  atlas/hosting.nix
  modules/planet/backup.nix
  modules/planet/default.nix
  modules/planet/hosting/backup.nix
  modules/planet/hosting/default.nix
  secrets/universe/backup/htpasswd.age
  secrets/universe/backup/token.age
Due: none

Port
  modules/planet/backup.nix
  secrets/universe/backup/env.age
  secrets/universe/backup/password.age
Due: none

Port
  modules/planet/hosting/waka.nix
  secrets/universe/waka/env.age
  secrets/universe/waka/salt.age
Due: none

Port anki
  atlas/hosting.nix
  modules/planet/hosting/anki.nix
  modules/planet/hosting/default.nix
  secrets/universe/anki/password.age
Due: none

Port books
  atlas/hosting.nix
  modules/planet/hosting/books.nix
  modules/planet/hosting/default.nix
Due: none

Port cal
  atlas/hosting.nix
  modules/planet/hosting/cal.nix
  modules/planet/hosting/default.nix
  packages/pi/default.nix
  secrets/universe/cal/accounts/lukas.age
  secrets/universe/cal/accounts/mario.age
  secrets/universe/cal/htpasswd.age
Due: orion, pollux, vega

Add pi extensions
  flake.lock
  flake.nix
  packages/pi/default.nix
  packages/pi/extensions/opencode-free.ts
  packages/pi/extensions/wakatime.ts
Due: orion, pollux, vega

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/household.nix
Due: none

Port
  atlas/hosting.nix
  modules/planet/hosting/acme.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/mail.nix
  secrets/universe/mail/accounts/bot.age
  secrets/universe/mail/accounts/komputah.age
  secrets/universe/mail/accounts/me.age
  secrets/universe/mail/rspamd/password.age
  secrets/universe/mail/rspamd/workerController.age
Due: none

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/notes.nix
Due: none

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/vault.nix
  secrets/universe/vault/env.age
  secrets/universe/vault/rsaKey.age
Due: none

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/forge.nix
  modules/planet/hosting/www.nix
  modules/planet/hosting/yam.nix
  secrets/universe/yam/env.age
  secrets/universe/yam/secret.age
Due: none

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/home/components/default.nix
  modules/planet/hosting/home/components/gree.nix
  modules/planet/hosting/home/components/tplink-deco.nix
  modules/planet/hosting/home/default.nix
  modules/planet/hosting/home/entities.jinja
Due: none

Port
  atlas/planets.nix
  flake.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/home/components/default.nix
  modules/planet/hosting/home/components/gree.nix
  modules/planet/hosting/home/components/tplink-deco.nix
  modules/planet/hosting/home/default.nix
  modules/planet/hosting/homunculus/SOUL.md
  modules/planet/hosting/homunculus/default.nix
  modules/traveller/programs/pi.nix
  secrets/_/mizar/36fec858453c3e4d9607a5ac063ecdec-universe/pi/opencode/apiKey.age
  secrets/_/vega/adcb7edaa7c91f216f571b01f572641e-universe/pi/opencode/apiKey.age
  secrets/universe/hass/token.age
  secrets/universe/homunculus/discord/token.age
  secrets/universe/homunculus/env.age
  secrets/universe/matrix/accounts/homunculus.age
  secrets/universe/opencode/apiKey.age
Due: orion, pollux, vega

Port
  atlas/hosting.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/homunculus/default.nix
  modules/planet/hosting/matrix/default.nix
  modules/planet/hosting/matrix/turn.nix
  modules/planet/hosting/matrix/whatsapp.nix
  secrets/universe/matrix/registrationToken.age
  secrets/universe/matrix/turnSecret.age
  secrets/universe/matrix/whatsapp/environment.age
  secrets/universe/matrix/whatsapp/pickleKey.age
Due: none

Port
  modules/planet/hosting/acme.nix
Due: none

Port
  modules/planet/hosting/cache.nix
  modules/planet/hosting/default.nix
  planets/pollux/boot.nix
  planets/pollux/default.nix
  planets/pollux/networking.nix
  secrets/_/mizar/36fec858453c3e4d9607a5ac063ecdec-universe/opencode/apiKey.age
  secrets/_/pollux/28cd84b9b77fd6e769df2ab257315642-universe/acme/env.age
  secrets/_/pollux/2fa79d687bbad40c1cb80d66a2780b41-universe/opencode/apiKey.age
  secrets/_/pollux/4bf00b8c0216211bb7a9dad3f372c419-universe/vault/env.age
  secrets/_/pollux/4fee00d93d1c1838be1b2eab7aba187d-universe/matrix/whatsapp/environment.age
  secrets/_/pollux/503a0f889b618331394356131bd0b730-universe/yam/env.age
  secrets/_/pollux/528aad9bd7ac98a4c6408fccb884aebc-universe/waka/env.age
  secrets/_/pollux/548de0cb860129db5138d72391dc3004-universe/attic/netrc.age
  secrets/_/pollux/58629f2d9741db963b1f945c9d913f9d-universe/backup/env.age
  secrets/_/pollux/6f67c7538d2a0fb90ec4d44425fa3f1c-universe/anki/password.age
  secrets/_/pollux/717ba9c7166ddf6eb0e78f35d63361b7-universe/mail/accounts/me.age
  secrets/_/pollux/812bde459b6ab50b9ffd086533dbe984-universe/vault/rsaKey.age
  secrets/_/pollux/8acc77b5090ef16a4ce92e3914f8bcba-travellers/prime/keys/private.age
  secrets/_/pollux/8d900c7c60b16bc9d7cf366881e46c7c-universe/mail/accounts/komputah.age
  secrets/_/pollux/9655e0eacce6db64a54a667e4baf3b35-universe/matrix/registrationToken.age
  secrets/_/pollux/9f7be2e4d500e2b573ca2f734d3fc303-universe/travellers/prime/user/password.age
  secrets/_/pollux/a2c0eefe96ab8aad096be2f9125d5d7e-universe/pi/exa/apiKey.age
  secrets/_/pollux/a6410823079a6676c7efa2b47a0740eb-universe/backup/password.age
  secrets/_/pollux/b47d0f9183045481ae969874e749af01-universe/cache/environment.age
  secrets/_/pollux/b6e40ad05bf2ab02899b88904388aa1e-universe/mail/rspamd/workerController.age
  secrets/_/pollux/be3b9d41d6e1a2c32f13b9635f068f14-universe/mail/accounts/bot.age
  secrets/_/pollux/e61b42df37eeb1c0e95f461a50c104c4-universe/matrix/turnSecret.age
  secrets/_/pollux/eaa9035207cb6118ee0dcb425ffe8d58-planets/pollux/keys/private.age
  secrets/_/pollux/eef4dccd044c9a6585f8270aa7110049-universe/homunculus/env.age
  secrets/_/pollux/f43934522b3068104aa0485c86f139e9-travellers/prime/waka/config.age
  secrets/_/pollux/faac807b54c28fdd0e8c4e93bc3e7023-universe/cal/htpasswd.age
  secrets/_/vega/adcb7edaa7c91f216f571b01f572641e-universe/opencode/apiKey.age
  secrets/planets/pollux/keys/private.age
  secrets/planets/pollux/keys/public.pub
  secrets/universe/cache/environment.age
  secrets/universe/cache/serverToken.age
  secrets/universe/homunculus/env.age
Due: pollux

Mesh
  atlas/default.nix
  atlas/mesh.nix
  dns/dnsconfig.js
  flake.lock
  flake.nix
  modules/planet/age.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/mesh.nix
  modules/planet/networking/default.nix
  modules/planet/networking/mesh.nix
  planets/pollux/default.nix
  scripts/mesh-keygen.nix
  secrets/_/ida/04cb8e4bb449b26f4601464d0fe8a565-travellers/prime/keys/private.age
  secrets/_/ida/059807c7832d99e6dc15b4a43135bb2f-universe/travellers/prime/user/password.age
  secrets/_/ida/8f5c360682f6017d9ed3bb1f03482d90-universe/opencode/apiKey.age
  secrets/_/ida/9cc212c61d47c78f12db9b5c7b5c3d62-universe/pi/exa/apiKey.age
  secrets/_/ida/c39283363b89690a920e9017079e00f7-planets/ida/keys/private.age
  secrets/_/ida/cd338cf35c28428e3f33e775482648c4-travellers/prime/waka/config.age
  secrets/_/ida/cf1885afe597dc6bb6ee16e90baf0cb9-planets/ida/mesh/private.age
  secrets/_/ida/eb46efbce97f8f618fe82378b6147802-universe/attic/netrc.age
  secrets/_/mizar/3592f100ab567fa08a7bb66ba3c2fd63-planets/mizar/mesh/private.age
  secrets/_/pollux/361fd457feb95deeec7a1e951b49aea3-planets/pollux/mesh/private.age
  secrets/_/vega/12594f3c3342deaead9afe887a03e1e0-planets/vega/mesh/private.age
  secrets/planets/ida/keys/public.pub
  secrets/planets/ida/mesh/private.age
  secrets/planets/ida/mesh/public.pub
  secrets/planets/mizar/mesh/private.age
  secrets/planets/mizar/mesh/public.pub
  secrets/planets/pollux/mesh/private.age
  secrets/planets/pollux/mesh/public.pub
  secrets/planets/vega/mesh/private.age
  secrets/planets/vega/mesh/public.pub
Due: orion, pollux, vega

Port
  atlas/hosting.nix
  atlas/mesh.nix
  atlas/planets.nix
  dns/creds.ci.json
  dns/dnsconfig.js
  flake.lock
  flake.nix
  modules/planet/hardware/graphics.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/hole.nix
  modules/planet/hosting/home/default.nix
  planets/ida/default.nix
  planets/ida/networking.nix
  planets/ida/rpi.nix
  planets/ida/swap.nix
  secrets/_/ida/59b08f993376c4065bb89ee03414029e-planets/ida/wireless/secrets.conf.age
  secrets/_/ida/b37b3ef122c7e0f8ec37082d8311bf71-planets/ida/wireless/password.age
  secrets/planets/ida/wireless/password.age
  secrets/planets/ida/wireless/secrets.conf.age
Due: orion, pollux, vega

Add scripts/planet-install-identity.nix
  flake.nix
  scripts/planet-install-identity.nix
Due: orion, pollux, vega

Update dns
  dns/dnsconfig.js
Due: none

Add wireguard group
  modules/planet/networking/mesh.nix
Due: none

Update mizar
  atlas/mesh.nix
  modules/planet/hosting/home/default.nix
  planets/ida/default.nix
  planets/mizar/boot.nix
  planets/mizar/default.nix
Due: none

Configure wifi on mizar
  planets/mizar/default.nix
  planets/mizar/networking.nix
  secrets/_/mizar/985e850cbac87563f22a3d9acc8b6f62-planets/mizar/wireless/secrets.conf.age
  secrets/_/mizar/afbcaec8b67dbd6b96a7c8fd5744025f-planets/mizar/wireless/password.age
  secrets/planets/mizar/wireless/password.age
  secrets/planets/mizar/wireless/secrets.conf.age
Due: none

Disable sudo password on mizar
  planets/mizar/default.nix
Due: none

Update gaming
  modules/planet/gaming/default.nix
  modules/planet/gaming/overwatch.nix
Due: none

Update README
  README.md
Due: none

homunculus: set default model qwen3.7-plus, configure auxiliary models
  modules/planet/hosting/homunculus/default.nix
Due: none

homunculus: add qwen model alias (opencode-go / qwen3.7-plus)
  modules/planet/hosting/homunculus/default.nix
Due: none

Update modules/planet/hosting/homunculus/default.nix
  modules/planet/hosting/homunculus/default.nix
Due: none

Update hyprland config
  modules/planet/desktop/hyprland/config.nix
  modules/planet/gaming/overwatch.nix
Due: none

Update pi
  flake.lock
Due: orion, pollux, vega

Migrate to helium flake
  flake.lock
  flake.nix
  modules/planet/programs/default.nix
  modules/planet/programs/helium.nix
  modules/planet/programs/helium/package.nix
  modules/planet/programs/helium/version.json
  modules/planet/programs/tmux.nix
Due: orion, pollux, vega

Path conditions:
  orion: any of: .woodpecker/orion.yaml, planets/orion/**, options/**, packages/**, flake.nix, flake.lock
  pollux: any of: .woodpecker/pollux.yaml, planets/pollux/**, options/**, packages/**, flake.nix, flake.lock
  vega: any of: .woodpecker/vega.yaml, planets/vega/**, options/**, packages/**, flake.nix, flake.lock
