Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

orion:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

pollux:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/pollux
        binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
        binary_cache_token:
  ...

vega:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

Firejail opencode
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Experiment with containers
  planets/pollux/lukasl.dev/default.nix
  planets/pollux/onyx.md/default.nix
  planets/pollux/onyx.md/domain.nix
Due: pollux

Experiment with containers
  .gitignore
  planets/pollux/acme.nix
  planets/pollux/containers/default.nix
  planets/pollux/containers/lukasl.dev/anki.nix
  planets/pollux/containers/lukasl.dev/box.nix
  planets/pollux/containers/lukasl.dev/cloud.nix
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/fin.nix
  planets/pollux/containers/lukasl.dev/kitchen.nix
  planets/pollux/containers/lukasl.dev/meta.nix
  planets/pollux/containers/lukasl.dev/metrics.nix
  planets/pollux/containers/lukasl.dev/ntfy.nix
  planets/pollux/containers/onyx.md/default.nix
  planets/pollux/containers/onyx.md/meta.nix
  planets/pollux/default.nix
  planets/pollux/lukasl.dev/anki.nix
  planets/pollux/lukasl.dev/default.nix
  planets/pollux/lukasl.dev/domain.nix
  planets/pollux/onyx.md/default.nix
  planets/pollux/onyx.md/domain.nix
  planets/pollux/options/containers.nix
  planets/pollux/options/default.nix
  planets/pollux/services/anki-sync-server.nix
  planets/pollux/services/prometheus.nix
Due: pollux

Update opencode
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Make helium the default browser
  options/planet/wm/hyprland.nix
  options/planet/xdg.nix
Due: orion, pollux, vega

Update hyprland
  flake.lock
  options/planet/hardware/nvidia.nix
  options/planet/wm/hyprland.nix
Due: orion, pollux, vega

Update nvidia
  options/planet/hardware/nvidia.nix
Due: orion, pollux, vega

Update justfile
  justfile
Due: none

Fix some warnings
  flake.lock
  flake.nix
  packages/vim/plugins/fff.nix
Due: orion, pollux, vega

Update outofbouds
  flake.lock
Due: orion, pollux, vega

Setup wakapi
  dns/dnsconfig.js
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/waka.nix
  secrets/secrets.yaml
Due: pollux

Setup wakatime
  options/universe/programs/default.nix
  options/universe/programs/wakatime.nix
  packages/vim/plugins/default.nix
  packages/vim/plugins/wakatime.nix
  secrets/secrets.yaml
Due: orion, pollux, vega

Add opencode plugin
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Update rime
  flake.lock
Due: orion, pollux, vega

Update opencode keybinds
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Update opencode
  flake.lock
  flake.nix
Due: orion, pollux, vega

Add ld_cc alias
  flake.lock
  options/universe/shells/aliases.nix
  options/universe/shells/bash.nix
  options/universe/shells/zsh.nix
  packages/vim/languages/default.nix
  packages/vim/plugins/blink-cmp.nix
Due: orion, pollux, vega

Update opencode
  flake.lock
  planets/pollux/containers/lukasl.dev/forge.nix
Due: orion, pollux, vega

Setup yamtrack
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/yam.nix
Due: pollux

Update dnsconfig
  dns/dnsconfig.js
Due: none

Add yamtrack secret
  secrets/secrets.yaml
Due: none

Move traefik to new containers structure
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/default.nix
  planets/pollux/traefik.nix
Due: pollux

Fix traefik
  planets/pollux/traefik.nix
Due: pollux

Fix yamtrack
  planets/pollux/containers/lukasl.dev/yam.nix
Due: pollux

Configure nat
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/networking.nix
Due: pollux

Allow nesting
  planets/pollux/containers/lukasl.dev/default.nix
Due: pollux

Update yamtrack
  planets/pollux/containers/lukasl.dev/yam.nix
Due: pollux

Update outofbounds
  flake.lock
Due: orion, pollux, vega

Update opencode
  flake.lock
Due: orion, pollux, vega

Update opencode + avante
  options/universe/programs/opencode.nix
  packages/vim/plugins/avante.nix
  packages/vim/plugins/default.nix
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/forge.nix
  planets/pollux/default.nix
  planets/pollux/services/forgejo.nix
Due: orion, pollux, vega

Setup marks
  dns/dnsconfig.js
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/marks.nix
  planets/pollux/default.nix
  planets/pollux/services/forgejo.nix
  secrets/secrets.yaml
Due: pollux

Set scheme handler for obsidian
  options/planet/programs/obsidian.nix
Due: orion, pollux, vega

Add pdf.nix
  dns/dnsconfig.js
  planets/pollux/containers/lukasl.dev/default.nix
  planets/pollux/containers/lukasl.dev/pdf.nix
Due: pollux

Setup TUVPN
  flake.lock
  options/planet/networking/default.nix
  options/planet/networking/vpn.nix
  planets/pollux/containers/lukasl.dev/pdf.nix
  planets/vega/default.nix
  secrets/secrets.yaml
Due: orion, pollux, vega

Add perf system-wide
  options/universe/programs/default.nix
  options/universe/programs/hyperfine.nix
  options/universe/programs/perf.nix
Due: orion, pollux, vega

Update maddy
  planets/pollux/services/maddy.nix
Due: pollux

Path conditions:
  orion: any of: .woodpecker/orion.yaml, planets/orion/**, options/**, packages/**, flake.nix, flake.lock
  pollux: any of: .woodpecker/pollux.yaml, planets/pollux/**, options/**, packages/**, flake.nix, flake.lock
  vega: any of: .woodpecker/vega.yaml, planets/vega/**, options/**, packages/**, flake.nix, flake.lock
