Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

orion:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

pollux:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/pollux
        binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
        binary_cache_token:
  ...

vega:
  steps:
    build:
      image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
      settings:
        binary_cache: https://cache.lukasl.dev/universe
        binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
        binary_cache_token:
          from_secret: binary_cache_access_token
  ...

Add pi-subagents
  packages/pi/default.nix
  packages/pi/extensions/default.nix
  packages/pi/extensions/pi-exa.nix
  packages/pi/extensions/pi-fff.nix
  packages/pi/extensions/pi-subagents.nix
  packages/pi/extensions/pi-usage.nix
Due: orion, pollux, vega

Setup HASS matrix
  modules/planet/hosting/home/default.nix
  secrets/universe/hass/matrix.age
Due: none

Rekey
  secrets/_/mizar/838630a472f78ab77095afe1b3d21977-universe/hass/matrix.age
Due: none

Update
  modules/planet/hosting/home/default.nix
Due: none

Switch to herdr
  modules/planet/programs/default.nix
  modules/planet/programs/fzf.nix
  modules/planet/programs/ghostty.nix
  modules/planet/programs/herdr.nix
Due: none

Setup jellyfin
  atlas/hosting.nix
  atlas/mesh.nix
  dns/dnsconfig.js
  modules/planet/desktop/hyprland/default.nix
  modules/planet/desktop/hyprland/keyboard-debounce.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/media.nix
  planets/mizar/default.nix
  planets/vega/default.nix
Due: vega

Setup jellyfin
  modules/planet/hosting/media.nix
Due: none

Update mizar
  planets/mizar/default.nix
  planets/mizar/media.nix
Due: none

Update proxy
  modules/planet/hosting/acme.nix
  modules/planet/hosting/proxy.nix
  modules/planet/networking/dns.nix
  planets/mizar/default.nix
  planets/mizar/media.nix
Due: none

Update media
  modules/planet/hosting/media.nix
Due: none

Fixate BSSID
  planets/mizar/networking.nix
Due: none

Update mizar
  planets/mizar/networking.nix
Due: none

hole.lukasl.dev: serve Mizar Pi-hole mesh-only (no LAN exposure)
  atlas/mesh.nix
  dns/dnsconfig.js
Due: none

Add herdr plugin
  atlas/hosting.nix
  flake.lock
  flake.nix
  modules/planet/hosting/default.nix
  modules/planet/hosting/fit.nix
  modules/planet/programs/herdr.nix
Due: orion, pollux, vega

Update zig skill
  packages/pi/skills/zig/SKILL.md
Due: orion, pollux, vega

Yay
  planets/sadr/.gitkeep
Due: none

Update nixpkgs
  flake.lock
  modules/planet/hosting/vault.nix
Due: orion, pollux, vega

Fix mullvad
  modules/planet/networking/mullvad.nix
Due: none

feat: thread Matrix DMs
  modules/planet/hosting/homunculus/default.nix
Due: none

feat: add Easy Stock HA component + nix-prefetch-github to homunculus jail
  modules/planet/hosting/home/components/default.nix
  modules/planet/hosting/home/components/easy-stock.nix
  modules/planet/hosting/homunculus/default.nix
Due: none

fix: correct Easy Stock dependency syntax
  modules/planet/hosting/home/components/easy-stock.nix
Due: none

feat: add Nix CLI to homunculus jail
  modules/planet/hosting/homunculus/default.nix
Due: none

fix: use verified Easy Stock source hash
  modules/planet/hosting/home/components/easy-stock.nix
Due: none

Exclude steam,vesktop from mullvad
  flake.lock
  modules/planet/gaming/steam.nix
  modules/planet/programs/discord.nix
Due: orion, pollux, vega

Use vim mode for herdr-navigator
  modules/planet/programs/default.nix
  modules/planet/programs/herdr.nix
  modules/planet/programs/herdr/default.nix
  modules/planet/programs/herdr/navigator.nix
Due: none

Update pihole
  modules/planet/hosting/hole.nix
Due: none

Fix pihole
  modules/planet/hosting/hole.nix
Due: none

Add hole proxy rule
  modules/planet/hosting/hole.nix
Due: none

Update homunculus
  modules/planet/hosting/homunculus/default.nix
Due: none

Update proxy
  modules/planet/hosting/proxy.nix
Due: none

Move homunculus
  planets/mizar/default.nix
  planets/pollux/default.nix
  secrets/_/mizar/abf671883f1e16af022809121d640a36-universe/homunculus/env.age
  secrets/_/pollux/eef4dccd044c9a6585f8270aa7110049-universe/homunculus/env.age
Due: pollux

Revert
  planets/mizar/default.nix
  planets/pollux/default.nix
  secrets/_/mizar/abf671883f1e16af022809121d640a36-universe/homunculus/env.age
  secrets/_/pollux/eef4dccd044c9a6585f8270aa7110049-universe/homunculus/env.age
Due: pollux

Setup mem
  atlas/hosting.nix
  dns/dnsconfig.js
  modules/planet/hosting/default.nix
  modules/planet/hosting/homunculus/default.nix
  modules/planet/hosting/mem.nix
  planets/pollux/default.nix
  secrets/_/pollux/504e12179e1c55033e279e2c07225760-universe/mem/environment.age
  secrets/_/pollux/a0b5ebcfedc74e6bd5701da0649ef072-universe/homunculus/env.age
  secrets/_/pollux/bc04c0c609a0d42c8c07138761063873-universe/mem/database-environment.age
  secrets/_/pollux/eef4dccd044c9a6585f8270aa7110049-universe/homunculus/env.age
  secrets/universe/homunculus/env.age
  secrets/universe/mem/admin-token.age
  secrets/universe/mem/database-environment.age
  secrets/universe/mem/database-password.age
  secrets/universe/mem/environment.age
  secrets/universe/mem/jwt-secret.age
Due: pollux

Setup mem for pi
  modules/planet/hosting/homunculus/default.nix
  modules/planet/hosting/mem.nix
  modules/traveller/programs/pi.nix
  packages/pi/extensions/default.nix
  packages/pi/extensions/pi-honcho-memory.nix
  secrets/_/ida/0264ec059c367991a291f06e0b6de167-universe/mem/pi-token.age
  secrets/_/mizar/64c44e44359a4f642b4459cdd7d568ec-universe/mem/pi-token.age
  secrets/_/pollux/e7781b20f634000eed9726bf93696595-universe/mem/pi-token.age
  secrets/_/vega/cfa21e55d7bef5925cda76dcd0665067-universe/mem/pi-token.age
  secrets/universe/mem/pi-token.age
Due: orion, pollux, vega

Update mem
  modules/planet/hosting/homunculus/default.nix
  modules/planet/hosting/mem.nix
  modules/traveller/programs/pi.nix
Due: none

Regenerate
  secrets/_/ida/0264ec059c367991a291f06e0b6de167-universe/mem/pi-token.age
  secrets/_/ida/a240e5a8f39228b18cef58ce393639c5-universe/mem/pi-token.age
  secrets/_/mizar/64c44e44359a4f642b4459cdd7d568ec-universe/mem/pi-token.age
  secrets/_/mizar/a5d4d8f5c57d5ea741bd1dd8d8d2e422-universe/mem/pi-token.age
  secrets/_/pollux/3579a55dfa32168c27c5e79b3200973b-universe/mem/environment.age
  secrets/_/pollux/504e12179e1c55033e279e2c07225760-universe/mem/environment.age
  secrets/_/pollux/83464aa78a3a175f3026b09eb594ef86-universe/mem/pi-token.age
  secrets/_/pollux/e7781b20f634000eed9726bf93696595-universe/mem/pi-token.age
  secrets/_/vega/53596eb18ab09e81894ad7115f9fa503-universe/mem/pi-token.age
  secrets/_/vega/cfa21e55d7bef5925cda76dcd0665067-universe/mem/pi-token.age
  secrets/universe/mem/environment.age
  secrets/universe/mem/pi-token.age
Due: none

docs: designate Honcho for memory and retrieval
  modules/planet/hosting/homunculus/SOUL.md
Due: none

Path conditions:
  orion: any of: .woodpecker/orion.yaml, planets/orion/**, options/**, packages/**, flake.nix, flake.lock
  pollux: any of: .woodpecker/pollux.yaml, planets/pollux/**, options/**, packages/**, flake.nix, flake.lock
  vega: any of: .woodpecker/vega.yaml, planets/vega/**, options/**, packages/**, flake.nix, flake.lock
