Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: orion, pollux, vega

.woodpecker/orion.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.orion.config.system.build.toplevel

        attic push attic:orion $(nix path-info .#nixosConfigurations.orion.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/orion.yaml"
      - "planets/orion/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/pollux.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/pollux
      binary_cache_public_key: pollux:F7WHpedmr4qMZ1Asg0XYQfJ1xShcL+MINf5FwrgBcwg=
      binary_cache_token:
        from_secret: pollux_binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.pollux.config.system.build.toplevel

        attic push attic:pollux $(nix path-info .#nixosConfigurations.pollux.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/pollux.yaml"
      - "planets/pollux/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/vega.yaml:

steps:
  build:
    image: voidcontext/woodpecker-plugin-nix-attic:0.2.0
    settings:
      binary_cache: https://cache.lukasl.dev/universe
      binary_cache_public_key: universe:w0jdMOE2LZ74t2WSja4jKaMBPzai2aVM/VuBzszi0BQ=
      binary_cache_token:
        from_secret: binary_cache_access_token
      script: |
        attic login attic $PLUGIN_BINARY_CACHE $PLUGIN_BINARY_CACHE_TOKEN

        echo "machine cache.lukasl.dev password $PLUGIN_BINARY_CACHE_TOKEN" > ~/.netrc

        export NIX_CONFIG="netrc-file = $HOME/.netrc"

        nix build \
          --substituters "https://cache.nixos.org $PLUGIN_BINARY_CACHE" \
          --trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= $PLUGIN_BINARY_CACHE_PUBLIC_KEY" \
          .#nixosConfigurations.vega.config.system.build.toplevel

        attic push attic:vega $(nix path-info .#nixosConfigurations.vega.config.system.build.toplevel)

when:
  - event: [push, pull_request]
    path:
      - ".woodpecker/vega.yaml"
      - "planets/vega/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

Update batterl_level script
  planets/orion/default.nix
Due: orion

Update opencode
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Update opencode plugin
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Setup tsserver
  flake.lock
  packages/vim/languages/default.nix
  packages/vim/languages/typescript.nix
Due: orion, pollux, vega

Fix script
  planets/orion/default.nix
Due: orion

Update README.md synopsis
  README.md
Due: none

Update opencode
  flake.lock
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Make stateVersion planet-specific
  options/planet/default.nix
  options/planet/stateVersion.nix
  options/universe/default.nix
  planets/ida/default.nix
  planets/orion/default.nix
  planets/pollux/default.nix
  planets/vega/default.nix
  universe.nix
Due: orion, pollux, vega

Delete waybar config
  options/home-manager.nix
  options/planet/wm/default.nix
  options/planet/wm/waybar/default.nix
  options/planet/wm/waybar/style.css
Due: orion, pollux, vega

Setup netrc
  options/universe/attic.nix
Due: orion, pollux, vega

Try to fix flake.yaml workflow
  .woodpecker/flake.yaml
Due: none

Update mirror workflow
  .woodpecker/mirror.yaml
Due: none

Eval instead of build
  .woodpecker/flake.yaml
Due: none

Update opencode & hyprland
  options/planet/wm/hyprland.nix
  options/universe/programs/opencode.nix
Due: orion, pollux, vega

Setup authelia
  dns/dnsconfig.js
  planets/pollux/default.nix
  planets/pollux/services/authelia.nix
  secrets/secrets.yaml
Due: pollux

Update dnsconfig
  dns/dnsconfig.js
Due: none

Fix git aliases
  options/universe/programs/git.nix
Due: orion, pollux, vega

Update rime
  flake.lock
  options/universe/programs/codex.nix
  options/universe/programs/default.nix
Due: orion, pollux, vega

Update rime
  flake.lock
Due: orion, pollux, vega

Add precognition
  packages/vim/plugins/default.nix
  packages/vim/plugins/fff.nix
  packages/vim/plugins/precognition.nix
Due: orion, pollux, vega

Setup homebox
  planets/pollux/default.nix
  planets/pollux/services/homebox.nix
Due: pollux

Reduce espanso delays
  options/planet/programs/espanso.nix
Due: orion, pollux, vega

Setup jj
  options/planet/programs/espanso.nix
  options/planet/wm/hyprland.nix
  options/universe/programs/default.nix
  options/universe/programs/delta.nix
  options/universe/programs/jj.nix
  packages/vim/filetypes.nix
  packages/vim/plugins/precognition.nix
  universe.nix
Due: orion, pollux, vega

Setup outofbounds
  flake.nix
  planets/pollux/services/outofbounds.nix
  secrets/secrets.yaml
Due: orion, pollux, vega

Update flake.lock
  flake.lock
  secrets/secrets.yaml
Due: orion, pollux, vega

Fix outofbounds
  flake.lock
  planets/pollux/default.nix
  planets/pollux/services/outofbounds.nix
Due: orion, pollux, vega

Add blog
  dns/dnsconfig.js
  planets/pollux/default.nix
  planets/pollux/services/blog.nix
Due: pollux

Fix blog.nix
  planets/pollux/services/blog.nix
Due: pollux

Fix fff
  packages/vim/plugins/fff.nix
Due: orion, pollux, vega

Setup NUR and helium
  flake.lock
  flake.nix
  options/planet/programs/default.nix
  options/planet/programs/helium.nix
  options/universe/nix.nix
Due: orion, pollux, vega

Setup java language properly
  packages/vim/languages/java.nix
Due: orion, pollux, vega

Update nvf
  flake.lock
  packages/vim/languages/default.nix
  packages/vim/languages/java.nix
  packages/vim/languages/python.nix
Due: orion, pollux, vega

Experiment with containers
  planets/pollux/default.nix
  planets/pollux/lukasl.dev/anki.nix
  planets/pollux/lukasl.dev/default.nix
  planets/pollux/lukasl.dev/domain.nix
Due: pollux

Firejail opencode
  options/universe/programs/opencode.nix
Due: orion, pollux, vega
