Repository lukasl-dev/nixos: changes, and which Woodpecker steps are due for each by the changed paths.
All: pollux, vega

.woodpecker/pollux.yaml:

steps:
  build:
    image: nixos/nix
    commands:
      - nix --extra-experimental-features 'nix-command flakes' build .#nixosConfigurations.pollux.config.system.build.toplevel

when:
  - event: [push, pull_request]
    path:
      - "planets/pollux/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

.woodpecker/vega.yaml:

steps:
  build:
    image: nixos/nix
    commands:
      - nix --extra-experimental-features 'nix-command flakes' build .#nixosConfigurations.vega.config.system.build.toplevel

when:
  - event: [push, pull_request]
    path:
      - "planets/vega/**"
      - "options/**"
      - "packages/**"
      - "flake.nix"
      - "flake.lock"

Update pollux.yaml
  .woodpecker/pollux.yaml
Due: none

Update woodpecker.nix
  planets/pollux/services/woodpecker.nix
  secrets/secrets.yaml
Due: pollux

Experiment
  .woodpecker/pollux.yaml
Due: none

Undo experiment
  .woodpecker/pollux.yaml
Due: none

Update woodpecker
  .woodpecker/pollux.yaml
  .woodpecker/vega.yaml
  secrets/secrets.yaml
Due: none

Add orion.yaml
  .woodpecker/orion.yaml
  secrets/secrets.yaml
Due: none

Change default retention period
  planets/pollux/services/attic.nix
Due: pollux

Remove .forgejo and .github workflows
  .forgejo/workflows/.gitkeep
  .github/workflows/deadnix.yml
  .github/workflows/dns.yml
  .github/workflows/flake.yml
  .github/workflows/justfile.yml
Due: none

Add mirror.yaml
  .woodpecker/mirror.yaml
Due: none

Update woodpecker
  planets/pollux/services/woodpecker.nix
Due: pollux

Update woodpecker volumes
  planets/pollux/services/woodpecker.nix
Due: pollux

Add manim.nix
  options/planet/default.nix
  options/planet/programming/default.nix
  options/planet/programming/go.nix
  options/planet/programming/java.nix
  options/planet/programming/javascript.nix
  options/planet/programming/lean.nix
  options/planet/programming/manim.nix
  options/planet/programming/python.nix
  options/planet/programming/r.nix
  options/planet/programming/tex.nix
Due: pollux, vega

Update caelestia-shell
  flake.lock
Due: pollux, vega

Centralise attic cache
  options/planet/attic.nix
  options/universe/attic.nix
  options/universe/default.nix
  planets/pollux/services/woodpecker.nix
  planets/vega/default.nix
  secrets/secrets.yaml
Due: pollux, vega

Update woodpecker
  .woodpecker/orion.yaml
  .woodpecker/pollux.yaml
  .woodpecker/vega.yaml
Due: none

Update woodpecker
  .woodpecker/flake.yaml
  .woodpecker/orion.yaml
  .woodpecker/pollux.yaml
Due: none

Update flake.yaml
  .woodpecker/flake.yaml
Due: none

Rename flake.yaml build step
  .woodpecker/flake.yaml
Due: none

Update workflow
  .woodpecker/flake.yaml
Due: none

Restructure hyprland
  options/planet/programs/bitwarden.nix
  options/planet/programs/discord.nix
  options/planet/programs/element.nix
  options/planet/wm/hyprland.nix
  options/planet/wm/hyprland/bindings.nix
  options/planet/wm/hyprland/cursors.nix
  options/planet/wm/hyprland/default.nix
  options/planet/wm/hyprland/exec-once.nix
  options/planet/wm/hyprland/graphics.nix
Due: pollux, vega

Update README
  README.md
Due: none

Simplify hyprland bindings
  options/planet/wm/hyprland/bindings.nix
  options/planet/wm/hyprland/default.nix
Due: pollux, vega

Update opencode
  options/universe/programs/opencode.nix
Due: pollux, vega

Add more espanso replacements
  options/planet/programs/espanso.nix
Due: pollux, vega

Update espanso
  options/planet/programs/espanso.nix
Due: pollux, vega

Add suffix for espanso
  options/planet/programs/espanso.nix
Due: pollux, vega

Add (disabled) gh mcp
  options/universe/programs/opencode.nix
Due: pollux, vega

Setup gh mcp
  options/universe/programs/opencode.nix
Due: pollux, vega

Fix secrets
  secrets/secrets.yaml
Due: none

Add aarch64-linux as extra platform
  .woodpecker/flake.yaml
Due: none

Migrate opencode to home-manager
  options/universe/programs/opencode.nix
Due: pollux, vega

Add zig agent
  options/universe/programs/opencode.nix
Due: pollux, vega
